img{ 
    width: 250px;
    height: auto ;  
}

.column{
    width:50%;
    float:left;
   
    font-size: 50px;
    padding:0;
}
.row{
    padding:0;
    width:50%;
    float:left;
    font-size: 50px;
}

