
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color:#000000;
    color: white;
    padding-top: 10px;
}

h1{
    font-family: 'Varela Round', sans-serif;
}

.bigClass{
    font: 700;
    font-family: sans-serif;
    color: white;
    background-color: purple;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.smallClass{
    font: 700;
    font-family: sans-serif;
    color: white;
    background-color: white;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    display: inline-block;
}

.lazy-or-stupid{
    font-family: 'Varela Round', sans-serif;
}

.column{
    width: 30%;

}